@import '../Consts.css';

.ThematicCategories {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    align-items: center;
}

.subTitle {
    font-size: var(--font-size-edit);
    color: var(--colour-text);
    margin-top: -1%;
}

.thumbnailRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}