@import '../Consts.css';

.WinnerDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.title {
    font-size: var(--font-size-title);
    color: var(--colour-text);
    text-align: center;
    margin-top: 1%;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 2.5%;
    width: 85%;
    justify-content: space-between;
}

.detailsImage {
    width: 45%;
    border-radius: 1.5%;
    height: 550px;
    cursor: pointer;
}

.imageUpload {
    display: none;
}

.details {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.details> :first-child {
    margin-top: 0;
}

.centeredDetails {
    align-self: center;
}

.description {
    font-size: var(--font-size-desc);
    color: var(--colour-text);
    margin-top: 0;
    cursor: pointer;
}

.urlRow,
.AddField.url,
.youtube,
.details .CaptionedImage {
    margin-top: 4%;
}

.content>.CaptionedImage {
    width: 45%;
}

.details .CaptionedImage img {
    height: 300px;
    width: 60%;
}

.urlSource {
    font-weight: bold;
    font-size: var(--font-size-category);
    color: var(--colour-text);
}

.url {
    font-size: var(--font-size-category);
    color: var(--colour-border);
    word-break: break-all;
}

.url:hover {
    color: var(--colour-hover);
}

.youtube {
    width: 100%;
    height: 350px;
    border: none;
    border-radius: 1.5%;
}