@import '../Consts.css';

.WinnerDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.title {
    font-size: var(--font-size-title);
    color: var(--colour-text);
    text-align: center;
    margin-top: 1%;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 2.5%;
    width: 85%;
    justify-content: space-between;
}

.detailsImage {
    width: 45%;
    border-radius: 1.5%;
    height: 500px;
}

.details {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 5%;
}

.description {
    font-size: var(--font-size-category);
    color: var(--colour-text);
}

.url {
    font-size: var(--font-size-label);
    color: var(--colour-text);
    word-break: break-all;
}

.url:hover {
    color: var(--colour-hover);
}