@import '../Consts.css';

.Thumbnail {
    display: flex;
    flex-direction: column;
    width: 12%;
    align-items: center;
    text-align: center;
    font-size: var(--font-size-label);
    cursor: pointer;
    color: var(--colour-text);
    margin-top: 0.9%;
}

.image {
    width: 72%;
    height: 120px;
    border-radius: 1.5%;
}

.image.small {
    height: 100px;
    width: 60%;
}

.label {
    border: solid;
    width: 85%;
    height: 20px;
    border-radius: 1%;
    margin-top: 0%;
}

.Thumbnail:hover {
    color: var(--colour-hover);
}